.section-about{
    background-color: $gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba($light-green, 0.8),rgba($dark-green, 0.8)), url('../img/nat-4.jpg');
    background-size: cover;
    // clip-path: polygon(0 5vh, 100% 0, 100% 95vh,0 100%);
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > *{
        transform: skewY(7deg); 
    }
}

.section-tours{
    margin-top: -10rem;
    padding: 25rem 0 5rem 0;
    background-color: $gray-light-1;
}

.section-stories{
    padding: 5rem 0;
    position: relative;
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,$light-green,$dark-green);
}

.book{
    background-image: linear-gradient(105deg,rgba($white,.9) 50%, transparent 50%), url("../../img/nat-10.jpg");
    background-size: cover;
    box-shadow: 0 1.5rem 4rem rgba($black, .2);
    height: 50rem;

    &__form{
        width: 50%;
        padding: 6rem;
    }
}
